{
 "db": {
      "connectionLimit": 20,
      "host": "feimumaster.mysql.rds.aliyuncs.com",
      "user": "root",
      "password": "feimu!@#0",
      "database": "feimu-cut-test",
      "timezone": "08:00",
       "supportBigNumbers":true
    },
  "ssh":{
      "host":"47.100.255.139",
      "user":"feimu139",
      "privateKeyPath":"/Users/yuhuaming/.ssh/id_rsa"
  },
  "dbFeimu": {
     "connectionLimit": 20,
          "host": "feimumaster.mysql.rds.aliyuncs.com",
          "user": "root",
          "password": "feimu!@#0",
          "database": "feimu-test",
          "timezone": "08:00",
           "supportBigNumbers":true
  },
  "sshFeimu":{
      "host":"47.100.255.139",
      "user":"feimu139",
      "privateKeyPath":"/Users/yuhuaming/.ssh/id_rsa"
  },
  "acrcloud": {
    "dataType":"fingerprint",
    "console": {
      "host": "cn-api.acrcloud.com",
      "signature_version": "1",
      "secure": true,
      "access_key": "15b2bcdf119b12e1",
      "access_secret": "992b6a1b26e569f367bd604095654812"
    },
    "fingerprint" : {
      "cmd":"/home/ubuntu/bin/acrcloud_extr_linux"
    }
  },
  "ffmpeg": {
   "ffmpegPath" : "/home/ubuntu/bin/ffmpeg",
   "ffprobePath": "/home/ubuntu/bin/ffprobe",
    "basePath": {
      "origin": "/Users/njwangchuan/media/origin/",
      "novideo": "/Users/njwangchuan/media/novideo/",
      "resize": "/Users/njwangchuan/media/resize/",
      "cut": "/Users/njwangchuan/media/cut/",
      "fingerprint": "/Users/njwangchuan/daily/media-fingerprint/"
    },
    "resize": {
         "forceResize":false,
         "1080p": {
           "width": 1920,
           "height": 1080,
           "audioBitrate": 160,
           "videoBitrate": 5400
         },
         "720p": {
           "width": 1280,
           "height": 720,
           "audioBitrate": 160,
           "videoBitrate": 2400
         },
         "480p-16x9": {
           "width": 854,
           "height": 480,
           "audioBitrate": 128,
           "videoBitrate": 1200
         },
         "480p-4x3": {
           "width": 640,
           "height": 480,
           "audioBitrate": 128,
           "videoBitrate": 900
         },
         "360p-16x9": {
           "width": 640,
           "height": 360,
           "audioBitrate": 128,
           "videoBitrate": 720
         },
         "360p-4x3": {
           "width": 480,
           "height": 360,
           "audioBitrate": 128,
           "videoBitrate": 600
         },
         "320x240": {
           "width": 320,
           "height": 240,
           "audioBitrate": 64,
           "videoBitrate": 300
         }
       },
       "cut": {
         "interval": 15,
         "duration": 60
       },
       "thumbnail": {
         "duration": 2,
         "fps" : 16,
         "resize": {
           "width": 320,
           "height": 240
         }
       }
  },
  "qiniu": {
    "ak": "oSIae2sZ5gLi2MVW6VOsLPr3GoW8RFZiopYNXYon",
    "sk": "a5mqSXohWcu49gaflxq7w6gqP40jIdhYQ-Yd27qG",
    "zone" : "Zone_z0",
    "bucket": "tvsonar-cut",
    "file_name_hash":true,
    "feimu": {
      "zone": "Zone_z0",
      "bucket" : {
        "cut" : "feimu-cut",
        "jpg" : "feimu-cut",
        "gif" : "feimu-cut"
        }
      },
    "ak": "oSIae2sZ5gLi2MVW6VOsLPr3GoW8RFZiopYNXYon",
    "sk": "a5mqSXohWcu49gaflxq7w6gqP40jIdhYQ-Yd27qG",
    "zone": "Zone_z0",
    "bucket": "tvsonar-cut",
    "file_name_hash": true
  },
 "schedule": {
     "instance_id": 0,
     "noVideo": {
       "enabled" : true,
       "cron": "*/1 * * * *",
       "querylimit": 5,
       "maplimit": 5
     },
     "uploadACRCloud" : {
       "enabled" : false,
       "cron": "*/5 * * * *",
       "querylimit": 5,
       "maplimit": 5
     },
     "resize": {
       "enabled" : true,
       "cron": "*/2 * * * *",
       "querylimit": 5,
       "maplimit": 2
     },
     "cut": {
       "enabled" : true,
       "cron": "*/1 * * * *",
       "querylimit": 1,
       "maplimit": 1,
       "cutlimit": 5
     },
     "uploadQiniu": {
       "enabled" :false,
       "cron": "*/1 * * * *",
       "querylimit": 10,
       "maplimit": 5
     },
     "feimuCut": {
       "enabled": false,
       "cron": "*/2 * * * *",
       "querylimit": 10,
       "maplimit": 5
     },
     "uploadFeimuCut": {
       "enabled": false,
       "cron": "*/1 * * * *",
       "querylimit": 5,
       "maplimit": 5
     },
     "syncProject":{
        "enabled": false,
        "cron": "*/1 * * * *",
        "querylimit": 5,
        "maplimit": 5
      },
      "syncCut":{
        "enabled": false,
        "cron": "*/1 * * * *",
        "querylimit": 5,
        "maplimit": 5
      }
   },
    "tvsonarUrl":{
        "url" : "http://open.feimu.com/api/",
        "getIds" : "getids/num/",
        "getId": "getid"
     },
     "es":{
          "host":"http://192.168.1.183:9200"
      }
}
